.Icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-size: small;
  cursor: pointer;
  width: 75px;
}

.Icon img {
  height: 30px;
  margin: 10px;
}
